<!doctype html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br />
                {{ form.username(size=32, class_='input-class') }}<br />
                {% for error in form.username.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br />
                {{ form.password(size=32, class_='input-class') }}<br />
                {% for error in form.password.errors %}
                <span style="color: red">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        <div>
            <a href="{{ url_for('controllers_bp.register') }}">Register</a>
        </div>
    </body>
</html>
